<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:hasCode="false"
        android:label="MxG - Charging Animation Helper Overlay"/>

    <overlay android:isStatic="true"
        android:priority="5000"
        android:targetPackage="com.android.systemui"/>

</manifest>